// main layout
.main-layout {
    display: grid;
    grid-template-areas: 
        "board track"
        "board score"
        "board tools"
        "radar ."
    ;
    gap: 1rem;
}

// board
.board-container {
    grid-column: board;
    grid-row: board;
    display: grid;
    grid-template-areas: 
        ". axis-x"
        "axis-y board"
    ;
}


@mixin txt-align-center {
    text-align: center;
    align-self: center;
}

// radar-panel
.radar-panel {
    margin-inline-start: 50px; // center under board
    grid-column: radar;
    @include txt-align-center();
}

// ship tracking panel
.track-panel {
    grid-column: track;
    grid-row: track;
    @include txt-align-center();
}

// game/action score panel
.score-panel {
    grid-column: score;
    grid-row: score;
    @include txt-align-center();
}

// tools i.e. help panel
.tools-panel {
    grid-column: tools;
    grid-row: tools;
    @include txt-align-center();
}