.instructions {
    &__list {
        list-style-type: circle;
        padding-inline-start: 1rem;
    }
    
    &__table {
        margin-block: 1rem;

        & td {
            font-size: var(--f-sm);
        }
    }
}