.ship {
    padding: 0.5rem;
    border: 1px solid var(--c-primary);
    border-radius: 0.2rem;

    &__row {
        font-size: var(--f-sm);
        display: flex;
        gap: 0.5rem;
    }
    
    &__letter {
        width: 1rem;
        display: flex;
    }

    &__data {
        display: flex;
        align-items: center;
        gap: 2px;
    }
    
    &__part {
        width: 0.75rem;
        height: 0.75rem;
    
        border: 1px solid var(--c-primary);
        border-radius: 50%;

        background-color: var(--c-primary);
    
        &--hit {
            background-color:transparent;
        }
    }
}