:root {
    --c-water-light: #8BC6EC;
    --c-water-dark: #9599E2;
}

* {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: solid 1px gray;
}

.board__btn {
    height: 50px;
    aspect-ratio: 1;
    border: solid 1px gray;
    background-color: #8BC6EC;
    background: linear-gradient(135deg, var(--c-water-light) 0%, var(--c-water-dark) 100%);
}

.board__btn:hover {
    background: linear-gradient(50deg, var(--c-water-light) 0%, var(--c-water-dark) 100%);
    border: solid 1px black;
}