:root {
  --c-background-dark: #121212;
  --c-primary: #9599E2;
  --c-secondary: #8BC6EC;
  --c-water-light: #8BC6EC;
  --c-water-dark: #9599E2;
  --c-hit: greenyellow;
  --c-miss: red;
  --f-sm: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--c-background-dark);
  color: whitesmoke;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

th {
  color: var(--c-primary);
}

.main-layout {
  display: grid;
  grid-template-areas: "board track" "board score" "board tools" "radar .";
  gap: 1rem;
}

.board-container {
  grid-column: board;
  grid-row: board;
  display: grid;
  grid-template-areas: ". axis-x" "axis-y board";
}

.radar-panel {
  margin-inline-start: 50px;
  grid-column: radar;
}

.track-panel {
  grid-column: track;
  grid-row: track;
}

.score-panel {
  grid-column: score;
  grid-row: score;
}

.tools-panel {
  grid-column: tools;
  grid-row: tools;
}

.radar-panel,
.track-panel,
.score-panel,
.tools-panel {
  text-align: center;
  align-self: center;
}

@media (max-width: 425px) {
  .main-layout {
    width: 100%;
    display: grid;
    grid-template-areas: "board" "radar" "track" "score" "tools";
    gap: 1rem;
  }
  .board-container {
    grid-template-areas: "board";
  }
  .radar-panel,
  .score-panel,
  .tools-panel {
    justify-self: center;
    align-self: center;
  }
  .radar-panel {
    margin-inline-start: 0;
  }
  .track-panel {
    justify-self: stretch;
  }
}
.board {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  border: solid 1px gray;
}
.board__axis > div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.board__axis--x {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(10, 50px);
}
.board__axis--y {
  grid-column-start: 1;
  display: grid;
  grid-template-rows: repeat(10, 50px);
}

.board__btn {
  height: 50px;
  aspect-ratio: 1;
  font-size: 1rem;
  border: solid 1px gray;
  background: linear-gradient(135deg, var(--c-water-light) 0%, var(--c-water-dark) 100%);
  color: var(--c-background-dark);
}
.board__btn:hover {
  background: linear-gradient(50deg, var(--c-water-light) 0%, var(--c-water-dark) 100%);
  border: solid 1px black;
}
.board__btn--hit {
  background: none;
  color: var(--c-hit);
  font-size: var(--f-sm);
}
.board__btn--hit:hover {
  background: none;
  color: var(--c-hit);
  font-size: var(--f-sm);
}
.board__btn--miss {
  background: none;
  color: var(--c-miss);
}
.board__btn--miss:hover {
  background: none;
  color: var(--c-miss);
}

@media (max-width: 425px) {
  .board {
    grid-column: board;
  }
  .board__axis {
    display: none;
  }
  .board__btn {
    height: 100%;
    aspect-ratio: 1;
  }
}
.overlay-screen {
  position: absolute;
  top: -150%;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--c-background-dark);
  transition: top 0.3s ease-in-out;
}

.instructions__list {
  list-style-type: circle;
  padding-inline-start: 1rem;
}
.instructions__table {
  margin-block: 1rem;
}
.instructions__table td {
  font-size: var(--f-sm);
}

.ship {
  padding: 0.5rem;
  border: 1px solid var(--c-primary);
  border-radius: 0.2rem;
}
.ship__row {
  font-size: var(--f-sm);
  display: flex;
  gap: 0.5rem;
}
.ship__letter {
  width: 1rem;
  display: flex;
}
.ship__data {
  display: flex;
  align-items: center;
  gap: 2px;
}
.ship__part {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--c-primary);
  border-radius: 50%;
  background-color: var(--c-primary);
}
.ship__part--hit {
  background-color: transparent;
}

.score-panel {
  padding: 0.5rem;
  width: 8rem;
  border: 1px solid var(--c-primary);
  border-radius: 0.3rem;
}
.score-panel .score__text {
  font-size: var(--f-sm);
}

.radar-panel .radar__btn--disabled {
  background-color: transparent;
  color: var(--c-primary);
  cursor: default;
}

.small-text {
  margin-block-start: 0.5rem;
  color: white;
  font-size: var(--f-sm);
}

.title {
  margin: 1rem;
  text-align: center;
  color: var(--c-primary);
}

.subtitle {
  margin-block-start: 0.5rem;
  color: var(--c-secondary);
}

@media (max-width: 425px) {
  .title,
  .subtitle {
    font-size: 1rem;
  }
}
.btn--large {
  border: 1px solid var(--c-primary);
  border-radius: 0.2rem;
  background-color: var(--c-primary);
  color: var(--c-background-dark);
  font-size: var(--f-sm);
  transition: all 0.3s ease;
  margin-inline: auto;
  margin-block: 1.5rem;
  padding: 1rem 2.5rem;
  display: block;
}
.btn--large:hover {
  background-color: transparent;
  color: var(--c-primary);
}

.btn--small {
  border: 1px solid var(--c-primary);
  border-radius: 0.2rem;
  background-color: var(--c-primary);
  color: var(--c-background-dark);
  font-size: var(--f-sm);
  transition: all 0.3s ease;
  padding: 0.5rem;
}
.btn--small:hover {
  background-color: transparent;
  color: var(--c-primary);
}

/*# sourceMappingURL=main.css.map */
