:root {
    --c-background-dark: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--c-background-dark);
}