:root {
  --c-background-dark: #121212;
  --c-primary: #9599E2;
  --c-secondary: #8BC6EC;
  --c-water-light: #8BC6EC;
  --c-water-dark: #9599E2;
  --c-hit: greenyellow;
  --c-miss: red;
  --f-sm: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: grid;
  place-items: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--c-background-dark);
  color: whitesmoke;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

th {
  color: var(--c-primary);
}

.main-layout {
  display: grid;
  grid-template-areas: "board track" "board score" "board tools" "radar .";
  gap: 1rem;
}

.board-container {
  grid-column: board;
  grid-row: board;
  display: grid;
  grid-template-areas: ". axis-x" "axis-y board";
}

.radar-panel {
  margin-inline-start: 50px;
  grid-column: radar;
  text-align: center;
  align-self: center;
}

.track-panel {
  grid-column: track;
  grid-row: track;
  text-align: center;
  align-self: center;
}

.score-panel {
  grid-column: score;
  grid-row: score;
  text-align: center;
  align-self: center;
}

.tools-panel {
  grid-column: tools;
  grid-row: tools;
  text-align: center;
  align-self: center;
}

.board {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  border: solid 1px gray;
}

.board__axis > div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.board__axis--x {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(10, 50px);
}
.board__axis--y {
  grid-column-start: 1;
  display: grid;
  grid-template-rows: repeat(10, 50px);
}

.board__btn {
  height: 50px;
  aspect-ratio: 1;
  font-size: 1rem;
  border: solid 1px gray;
  background: linear-gradient(135deg, var(--c-water-light) 0%, var(--c-water-dark) 100%);
  color: var(--c-background-dark);
}
.board__btn:hover {
  background: linear-gradient(50deg, var(--c-water-light) 0%, var(--c-water-dark) 100%);
  border: solid 1px black;
}
.board__btn--hit {
  background: none;
  color: var(--c-hit);
  font-size: var(--f-sm);
}
.board__btn--hit:hover {
  background: none;
  color: var(--c-hit);
  font-size: var(--f-sm);
}
.board__btn--miss {
  background: none;
  color: var(--c-miss);
}
.board__btn--miss:hover {
  background: none;
  color: var(--c-miss);
}

.overlay-screen {
  position: absolute;
  top: -100%;
  height: 100dvh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--c-background-dark);
  transition: top 0.3s ease-in-out;
}

.instructions__list {
  list-style-type: circle;
  padding-inline-start: 1rem;
}
.instructions__table {
  margin-block: 1rem;
}
.instructions__table td {
  font-size: var(--f-sm);
}
.instructions__btn {
  display: block;
  margin-inline: auto;
  margin-block: 1.5rem;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-size: var(--f-sm);
  background-color: var(--c-primary);
  transition: all 0.3s ease;
}
.instructions__btn:hover {
  border: 1px solid var(--c-water-dark);
  background-color: transparent;
  color: var(--c-water-dark);
}

.help__btn {
  padding: 0.5rem;
  width: 2.5rem;
  border: none;
  border: 1px solid var(--c-primary);
  border-radius: 0.2rem;
  font-size: var(--f-sm);
  background-color: transparent;
  color: whitesmoke;
  transition: all 0.3s ease;
}
.help__btn:hover {
  border: 1px solid transparent;
  background-color: var(--c-primary);
  color: var(--c-background-dark);
}

.radar__btn {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-size: var(--f-sm);
  background-color: var(--c-water-light);
  transition: all 0.3s ease;
}
.radar__btn:hover {
  border: 1px solid var(--c-water-dark);
  background-color: transparent;
  color: var(--c-water-dark);
}
.radar__btn--active {
  background-color: var(--c-water-dark);
}

.score-panel {
  padding: 0.5rem;
  width: 8rem;
  border: 1px solid var(--c-primary);
  border-radius: 0.3rem;
}
.score-panel .score__text {
  font-size: var(--f-sm);
}

.endgame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.endgame__btn {
  display: block;
  margin-inline: auto;
  margin-block: 1.5rem;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-size: var(--f-sm);
  background-color: var(--c-primary);
  transition: all 0.3s ease;
}
.endgame__btn:hover {
  border: 1px solid var(--c-water-dark);
  background-color: transparent;
  color: var(--c-water-dark);
}

.ship {
  padding: 0.5rem;
  border: 1px solid var(--c-primary);
  border-radius: 0.2rem;
}
.ship__row {
  font-size: var(--f-sm);
  display: flex;
  gap: 0.5rem;
}
.ship__letter {
  width: 1rem;
  display: flex;
}
.ship__data {
  display: flex;
  align-items: center;
  gap: 2px;
}
.ship__part {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--c-primary);
  border-radius: 50%;
  background-color: var(--c-primary);
}
.ship__part--hit {
  background-color: transparent;
}

.small-text {
  margin-block-start: 0.5rem;
  color: white;
  font-size: var(--f-sm);
}

.title {
  margin: 1rem;
  text-align: center;
  color: var(--c-primary);
}

.subtitle {
  margin-block-start: 0.5rem;
  color: var(--c-secondary);
}

/*# sourceMappingURL=main.css.map */
