.btn--large {
    display: block;

    margin-inline: auto;
    margin-block: 1.5rem;
    padding: 1rem 2.5rem;

    border: 1px solid transparent;
    border-radius: 0.2rem;

    font-size: var(--f-sm);

    background-color: var(--c-primary);

    transition: all 0.3s ease;

    &:hover {
        border: 1px solid var(--c-water-dark);

        background-color: transparent;
        color: var(--c-water-dark);
    }
}

.btn--small {
    padding: 0.5rem;
    
    border: 1px solid var(--c-primary);
    border-radius: 0.2rem;

    font-size: var(--f-sm);

    background-color: var(--c-primary);
    color: var(--c-background-dark);
    
    transition: all 0.3s ease;

    &:hover {
        background-color: transparent;
        color: var(--c-primary);
    }
}