//mixin 
@mixin basic-btn-style {
    border: 1px solid var(--c-primary);
    border-radius: 0.2rem;
    background-color: var(--c-primary);
    color: var(--c-background-dark);
    font-size: var(--f-sm);
    transition: all 0.3s ease;
}

.btn--large {
    @include basic-btn-style();

    margin-inline: auto;
    margin-block: 1.5rem;
    padding: 1rem 2.5rem;
    display: block;

    &:hover {
        background-color: transparent;
        color: var(--c-primary);
    }
}

.btn--small {
    @include basic-btn-style();
    padding: 0.5rem;

    &:hover {
        background-color: transparent;
        color: var(--c-primary);
    }
}